body{
    background-color: #ebdcca;
}

.nav{
    background-color: rgb(209, 141, 209);
    overflow: hidden;
    margin-top: -10px;
}

.nav a{
    float: right;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Lexend", sans-serif;

}

.nav a:hover{
    background-color: rgb(160, 67, 155);
    color:black;
}

.missionStatement img{
    float:left;
}

.missionStatement p{
    font-size: 40px;
    float:right;
    margin-top: 90px;
    margin-right: 220px;
    font-family: "Lexend", sans-serif;

    
}

.text{
    margin-top: 280px;
    font-family: "Lexend", sans-serif;
}

.images img{
    margin-top: 60px;
    height: 350px;
    width: 350px;
    
}