body{
    background-color: #ebdcca;
}

.nav{
    background-color: rgb(209, 141, 209);
    overflow: hidden;
    margin-top: -10px;
}

.nav a{
    float: right;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover{
    background-color: rgb(160, 67, 155);
    color:black;
}

.missionStatement img{
    float:left;
}

.missionStatement p{
    font-size: 40px;
    float:right;
    margin-top: 90px;
    margin-right: 220px;
    border-style: solid;
    border-radius: 25px;
    
}